/* Hello World Layout Styles*/

/* Start Global Rules */
html {
    background-color: #ccc;
}

div.wrapper  {
    background-color: #d6c0cc;
    overflow:auto;
}
p { 
    margin-left: 1em;
}
h1,h2,h3 { 
    margin-left: 4em;
}
a {
    color:crimson;
    text-decoration: none;
}
a:hover {
    color:dodgerblue;
    text-decoration: underline;
}
footer{
    clear:both;
    text-align: center;
    padding: .75em;
}
/* End Global Rules */

/* Start Desktop - Resposive Rule */
@media all and (min-width: 1400px){
    
    div.wrapper  {
        width: 80%;
        margin :auto;
    }
    
    img.desktop{
        width:50%;
        float:right;
        margin-left: 1em;
        
    }
    p {margin: 1em;}
    img.tablet, img.phone{
        display:none;
    }
    
}
/* End Desktop - Resposive Rule */


/* Start Tablet - Resposive Rule */
@media all and (min-width: 501px) and (max-width:1399px){
    
    div.wrapper  {
        width: 90%;
        margin :auto;
    }
    img.tablet{
        width:50%;
        float:left;
        margin-right: 2em;
        
    }
    img.desktop, img.phone{
        display:none;
    }
    
}

/* End Tablet - Resposive Rule */


/* Start Phone - Resposive Rule */
@media all and (max-width: 500px){
    
    div.wrapper  {
        width: 100%;
        margin :auto;
    }
    img.phone{
        width:100%;
        
    }
    img.tablet, img.desktop{
        display:none;
    }
    
    
}
/* End Phone - Resposive Rule */
